* {
    padding: 0px;
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
}
ul {
    display: flex;
    list-style-type: none;
    gap:80px;
    text-transform: uppercase;
    
}
a {
    text-decoration: none;
    text-align: center;
}
.section-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.section-image {
    width: 50%;
}

.section-text {
    width: 50%;
}